{% extends 'base.html.twig' %}

{% block title %}Edit Package{% endblock %}

{% block body %}
    <h1>Edit Package</h1>

    {{ include('package/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_package_index') }}">back to list</a>

    {{ include('package/_delete_form.html.twig') }}
{% endblock %}
