{% extends 'base.html.twig' %}

{% block title %}New Package{% endblock %}

{% block body %}
    <h1>Create new Package</h1>

    {{ include('package/_form.html.twig') }}

    <a href="{{ path('app_package_index') }}">back to list</a>
{% endblock %}
