.headerMenu {
    @apply flex flex-col w-full justify-end items-center bg-white shadow-md;
    .headerSeparation {
        @apply h-2 w-full;
        background: rgb(230,220,130);
        background: linear-gradient(90deg, rgba(230,220,130,1) 0%, rgba(216,58,36,1) 35%, rgba(230,220,130,1) 100%);
    }
    .containerMenu {
        @apply flex flex-row w-full justify-between h-[72px] max-w-full sm:max-w-[680px] md:max-w-[860px] lg:max-w-[960px] xl:max-w-[1080px];
        nav {
            @apply flex items-center;
        }
        .mainMenu {
            @apply m-0 list-none justify-end flex flex-row gap-4 py-4 px-10 border-b-2 border-black relative;
            li {
                @apply flex items-center;
            }
            a {
                @apply text-black no-underline;
            }
            .user-list {
                @apply relative;
                a {
                    @apply text-white no-underline cursor-pointer;
                }
                .user-tip {
                    @apply flex flex-row text-white items-center gap-2 p-2 rounded-full cursor-pointer;
                    background-color: rgba(216,58,36,1);
                }
                .user-actions {
                    @apply flex flex-col gap-2 p-2 text-white absolute top-10 rounded-md mx-auto text-center;
                    background-color: rgb(45, 45, 45);
                    width: calc(100% - 16px);
                    a {
                        &:hover {
                            @apply underline
                        }
                    }
                }
            }
        }
    }

    .logo {
        @apply ml-4 max-w-[50px] py-2;
    }
}