.container-packages {
    @apply flex flex-row flex-wrap justify-center items-stretch gap-4;
        .package {
            @apply flex flex-col justify-between relative w-[300px] bg-white shadow-md p-4;
            .cta {
                @apply flex flex-col items-center gap-4 text-white p-4 w-fit no-underline shadow-md;
                background-color: rgba(216,58,36,1);
                /* &:hover {
                    background: linear-gradient(90deg, rgba(216,58,36,1) 50%, rgba(230,220,130,1) 100%);  
                } */
            }
            .container-tip {
                @apply flex flex-row gap-2 items-center justify-end;
                .tip {
                    @apply text-white px-2 w-fit rounded-full; 
                    background-color: rgba(216,58,36,1);
                }
            }
            .align-title {
                h2 {
                    @apply text-2xl font-bold mt-2 mb-2;
                }
                @apply flex flex-row gap-4 items-center;
            }
            .button-admin {
                @apply absolute top-0 right-0 m-4 w-4 h-4 text-black p-2 rounded-full bg-white shadow-md;
                border: 1px solid black;
            }

            &.package-admin {
                a {
                    @apply flex flex-col items-center justify-center h-full no-underline gap-4 text-black;
                }
            }
        }
    }