.container-packages {
    @apply flex flex-row flex-wrap justify-center items-stretch gap-4;
    &.list {
        @apply flex-col;
    }
        .package {
            @apply flex flex-col justify-between relative w-[300px] bg-white shadow-md p-4;
            img {
                @apply mx-auto w-auto mb-2;
            }
            .cta {
                @apply flex flex-col items-center gap-4 text-white p-4 w-fit no-underline shadow-md;
                background-color: rgba(216,58,36,1);
                /* &:hover {
                    background: linear-gradient(90deg, rgba(216,58,36,1) 50%, rgba(230,220,130,1) 100%);  
                } */
            }
            .container-tip {
                @apply flex flex-row gap-2 items-center justify-end;
                .tip {
                    @apply text-white px-2 w-fit rounded-full; 
                    background-color: rgba(216,58,36,1);
                }
            }
            .align-title {
                h2 {
                    @apply text-2xl font-bold mt-2 mb-2;
                }
                @apply flex flex-row gap-4 items-center;
            }
            .button-admin {
                @apply absolute top-0 right-0 m-4 w-4 h-4 text-black p-2 rounded-full bg-white shadow-md transition-all;
                border: 1px solid black;
                &:hover {
                    @apply bg-gray-200;
                }
            }

            &.package-admin {
                a {
                    @apply flex flex-col items-center justify-center h-full no-underline gap-4 text-black;
                }
            }
        }
        .package-list {
            .image {
                @apply flex items-center w-full max-w-[30%];
                img {
                    @apply w-auto max-h-full mx-auto block;
                }
            }
                
            @apply relative flex flex-row gap-4 justify-start w-full max-w-[960px] mx-auto relative bg-white shadow-md p-4;
            .align {
                @apply flex flex-col gap-4 items-start;
            }
            .cta {
                @apply flex flex-col items-center gap-4 text-white p-4 w-fit no-underline shadow-md;
                background-color: rgba(216,58,36,1);
            }
            .container-tip {
                @apply flex flex-row gap-2 items-center justify-end;
                .tip {
                    @apply text-white px-2 w-fit rounded-full; 
                    background-color: rgba(216,58,36,1);
                }
            }
            .align-title {
                h2 {
                    @apply text-2xl font-bold mt-2 mb-2;
                }
                @apply flex flex-row gap-4 items-center;
            }
            .button-admin {
                @apply absolute top-0 right-0 m-4 w-4 h-4 text-black p-2 rounded-full bg-white shadow-md transition-all;
                border: 1px solid black;
                &:hover {
                    @apply bg-gray-200;
                }
            }

            &.package-admin {
                a {
                    @apply flex flex-col items-center justify-center h-full no-underline gap-4 text-black mx-auto;
                }
            }
        }
    }

.package-single {
    @apply flex flex-row gap-4 mt-4;
    a {
        @apply transition duration-300 ease-in-out;
        color: rgba(216,58,36,1);
        &:hover {
            @apply opacity-75;
        }
    }
    .readme {
        @apply border border-solid border-gray-400 rounded-sm w-full;
        .title {
            @apply flex border-0 border-b border-solid border-gray-400 font-bold p-2;
        }
        .content {
            @apply p-4;
            img {
                @apply max-w-full;
            }
        }
    }
    .package-infos {
        @apply flex flex-col gap-4 p-4 w-full max-w-[350px] h-fit relative;
        h2, p {
            @apply m-0;
        }
        .version {
            @apply text-gray-500 -mt-4;
        }
        .size, .language {
            @apply text-gray-500;
        }
        .code {
            @apply border border-solid border-gray-400 rounded-sm p-2 px-4 w-fit;
            .copy {
                @apply border-none bg-transparent cursor-pointer;
            }
        }
        .button-admin {
            @apply absolute top-0 right-0 m-4 w-4 h-4 text-black p-2 rounded-full bg-white shadow-md transition-all;
            &:hover {
                @apply bg-gray-200;
            }
        }
        .button {
            @apply no-underline text-white p-4 w-fit;
            background-color: rgba(216,58,36,1);
            &.disable {
                @apply cursor-not-allowed;
                background-color: rgb(99, 96, 95);
            }
        }
    }
}

.filter-container {
    @apply flex flex-row gap-4 justify-end items-end py-4;
    .display-switcher {
        @apply flex flex-row justify-end border border-solid border-gray-200 rounded-md;
        a {
            @apply p-2 bg-white transition-all;
            color: rgba(216,58,36,1);
            &:nth-child(1) {
                @apply rounded-l-md pr-4 pl-4;
            }
            &:nth-child(2) {
                @apply rounded-r-md pl-4 pr-4;
            }
            &:hover, &.active {
                @apply text-white;
                background-color: rgba(216,58,36,1);
            }
            svg {
                @apply relative top-[2px];
            }
        }
    }
    #form-filter {
        @apply flex flex-row gap-4 items-end;
        .group-form {
            @apply flex flex-col;
            label {
                @apply text-gray-500 text-sm;
            }
            select {
                @apply p-[9px] bg-white border border-solid border-gray-200 rounded-md cursor-pointer; 
            }
        }
        button[type="submit"] {
            @apply p-[10px] text-white cursor-pointer border border-solid h-fit border-gray-200 rounded-md transition-all;
            background-color: rgba(216,58,36,1);
            &:hover {
                @apply bg-white;
                color: rgba(216,58,36,0.75);
            }
        }
        .separation {
            @apply border border-solid border-gray-200 h-[34px];
        }
    }
}